.vscode/
.codex/
.clangd
compile_flags.txt
__pycache__/
*.py[cod]

build/
install/
log/
run_logs/

**/build/
**/install/
**/log/
**/run_logs/

*.pcm

motor_transport_logs/
**/motor_transport_logs/

AGENTS.md
AGENTS
**/AGENTS/
/skills/

**/**/*.db3
!**/**/*.yaml
!ros2_ws/src/**/ntrip/config/*.yaml
!ros2_ws/src/**/hhros2_motor_diagnostics/config/*.yaml
!ros2_ws/src/**/hhros2_controllers/config/*.yaml
!ros2_ws/src/**/hhros_bringup/config/*.yaml
!ros2_ws/src/**/hhros2_motion_cores/config/*.yaml
!ros2_ws/src/**/xsens_mti_ros2_driver/param/*.yaml
!**/config/

**/*.zip

*.zip
